# ======================
# Gowin EDA 合成/布局布线输出
# ======================
impl/

# ======================
# Gowin EDA 工程用户状态文件
# ======================
*.gprj.user

# ======================
# Python 编译缓存
# ======================
__pycache__/
*.py[cod]
*.egg-info/

# ======================
# C/C++ 编译产物
# ======================
*.o
*.obj
*.dll
*.pyd
*.so
*.lib
*.exp

# ======================
# IDE / 编辑器
# ======================
.vs/
.vscode/
.idea/
*.swp
*.swo
*~

# ======================
# 操作系统
# ======================
.DS_Store
Thumbs.db
desktop.ini

# ======================
# 临时文件
# ======================
*.tmp
*.log
